
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
  padding: 24px 0;

  /* justify-content: center; */
}

img {
  width: 100%;
  height: 100%;
  max-height: 40vh;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.purple {
  color: #7342d6;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center; 
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.logo {
  width: 136px;
  cursor: pointer;
}

.nav__link {
  margin-left: 24px; 
  text-decoration: none;
  font-size: 16px;
  color: #7342d6;
  font-weight: 700; 
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  background-color: #c19792;
  padding: 4px 8px;
  color: #fff;
  border-radius: 4px;

}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: antiquewhite;
  color: #7342d6;
  transition: all 0.3s ease-in;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100vw;
     height: 100vh; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: #fff;
}


.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #fff;
}


/*  LANDING */

#landing {
  background-color: rgba(115, 66, 214, 0.1 );
}

header {
  height: calc(100vh - 80px + 9vw);
  padding-bottom: 56px;
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  padding-top: 16px;
  /* margin-top: 16px; */
  /* align-items: center;  ; */
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 24px;
}

h1 {
  font-size: 40px;
  color: #7342d6;
}


h2 {
  font-size: 24px;
}

button {
  cursor: pointer;
}
 
button:active {
  transform: translateY(1.5px);
}

.btn {
  background-color: #7342d6;
  color: #fff;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.header__img--wrapper {
  z-index: 2;
  padding: 20px; /* for images, apply padding to ites container (figure tag) */
}


.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  /* width: 100%; */
  /* max-width: 720px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.no-cursor {
  cursor: not-allowed;
}
/* HIGHLIGHTS */

#highlights {
  position: relative;
}

#highlights:before, #highlights:after {
  content: "";
  background: url(./assets/wave.svg);
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}


#highlights:before {
  transform: translateY(-100%);
  top: 1px;
}

#highlights:after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}


.highlight {
  padding: 0 24px;
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}

.highlight__wrapper {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.highlight__img {
  border: 2px solid #7342d657;
  color: #7342d6;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.highlight__para {
  max-width: 280px;
  font-size: 16px;
  text-align: center;
}

.section__title {
  margin-bottom: 56px;
}

/* FEATURES */

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

#features h2 {
  /* padding: 36px; */
  margin-bottom: 36px;
  font-size: 24px;
}

.books {
  display: flex;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img {
  max-height: 380px;
  transition: all 0.3s ease;
  cursor: no-drop;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book__title {
  font-weight: 500;
  margin-bottom: 8px;
}

.book__title, .book__price {
  font-size: 14px;
}

.book__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

/* LATEST BOOKS */

#latest__books .book {
  width: 25%;
  padding: 24px;
}

#latest__books .books {
  flex-wrap: wrap;
}

#latest__books .section__title {
  margin-bottom: 36px;
}

/* EXPLORE */

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

.explore__container {
  padding: 36px 0;
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}


.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link, .footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 24px 0 24px 0;
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: space-around
}

.footer__copyright {
  font-size: 10px;
}

.footer__link {
  font-size: 14px;
}


/* SMALL PHONES, TABLETS, LARGE PHONES */

@media (max-width: 700px) {
  .border__description {
    padding: 0 24px;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 20px;
  }

  .book {
    width: 50%;
  }

  #latest__books .books {
    flex-wrap: wrap;
  }

  #latest__books .book {
    width: 50%;
  }

  .books {
    flex-wrap: wrap;
  }
}

 
/* PHONES */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}
